* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --primary: #3f3d56;
  --gray2: #323730;
  --gray4: #abb3a8;
  --gray3: #5a6256;
  --base: #3f3f40;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 396px;
}

.header {
  margin-top: 68px;
  color: var(--primary);
}

.text {
  margin-top: 31px;
  text-align: center;
  max-width: 310px;
  color: var(--gray3);
}

.form {
  display: flex;
  flex-direction: column;
  margin-top: 28px;
  color: var(--gray2);
}

.form input {
  width: 396px;
  height: 47px;
  margin-top: 5px;
  padding-left: 20px;
  outline: none;
  border: 1px solid var(--gray4);
}

.button {
  margin-top: 20px;
}

.button button {
  width: 396px;
  height: 47px;
  border: none;
  font-size: 16px;
  color: white;
  background-color: var(--primary);
  cursor: pointer;
}

.back {
  margin-top: 25px;
}

.back a {
  text-decoration: none;
  color: #1db9e0;
}
